body {
	background-color: #ebebeb;
	/*background-image: linear-gradient(to left, #2980b9, #6dd5fa, #ffffff); */

	position: relative;
	font-family: Open Sans, Arial, serif;
}

.headline {
	text-align: center;
	color: #5c5c5c;
	margin-top: 10vh;
	font-size: 60px;
}

.input {
	margin: 0 auto;
	text-align: center;
}

.input-text {
	width: 30vh;
	height: 25px;
	border-radius: 5px;
	border: 2px solid #2eb836;
	padding: 2px 2px;
	outline: none;
	color: grey;
	font-family: Open Sans, Arial, serif;
}

.input-text: focus {
	
}

.input-button {
  
  outline: none;
  padding: 7px 20px 8px 20px;
  text-decoration: none;
  margin: 4px 2px 5px 2px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #2eb836;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.to-do-list {
	
	/*text-align: center;*/
	background-color: #fcfcfc;
	width: 75vw;
	margin: 20px auto 0 auto;
	border: 3px solid grey;
	border-radius: 10px;
	
}

.list-items {
	display: inline;
	margin: 10px 10px 10px 10px;
	padding: 0px;	
}

.item {
	display: block;
	margin: 10px;
	position: relative;
	border-bottom: 1px dashed grey;
	background-color: ;
}

.item.three {
	border-width: medium;
} 

.checkmark-button {
	display: inline-block;
	position: relative;
	bottom: 8px;
	
	cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: ;

}

.strikethrough1 {
	text-decoration: line-through;
}





.item-description {
	display: inline-block;
	position: relative;
	left: 20px;
	bottom: 5px;
	
}

.item-description h2 {
color: rgba(0,0,0,.4);
}

.delete-button {
	display: inline-block;
	position: absolute;
	right: 2em;
	top: 10px;
	
}

.actual-delete-button {
	 background-color: #f44336;
	 color: black;
	 font-size: 16px;
	 padding: 10px 15px;
    

     outline: none;
  
  text-decoration: none;
  
  cursor: pointer;
  border-radius: 5px;

  border: none;
  color: white;
  
}























